# IntelliJ files and folders
.idea/
*.iml

# jdtls files and folders
webdriver_java/.classpath
webdriver_java/.project
webdriver_java/.settings/

# Maven build artifacts
webdriver_java/target

# Personal chromedriver
#webdriver_java/resources/chromedriver
webdriver_java/resources/ngrok*
